VITE_AUTH_API_URL=http://localhost:3000
VITE_BOOK_API_URL=http://localhost:3001
VITE_ORDER_API_URL=http://localhost:3002
VITE_PAYMENT_API_URL=http://localhost:3003
VITE_BLOCKCHAIN_API_URL=http://localhost:3004
